<ul>
  <li id="nav-link-store">{{ link-to 'Cakes' 'store.cakes' }}</li>
  <li id="nav-link-store">{{ link-to 'Cupcakes' 'store.cupcakes' }}</li>
  <li id="nav-link-store">{{ link-to 'Cookies' 'store.cookies' }}</li>
</ul>

{{outlet}}
