<h4>Chocolate Croissant</h4>
<img width="50%" src="/assets/images/choco-croissant.jpg" alt="Chocolate Croissant">
<p>4.5</p>
<p>
  A savory, buttery, flaky croissant filled with dark semi-sweet chocolate.
</p>
<p><a href="choco-croissant/nutrition">Nutrition</a></p>

{{outlet}}
