Who's hungry?

<ul class="items-container">
  <li class="menu-item">
    <h4>Chocolate Croissant</h4>
    <img src="/assets/images/choco-croissant.jpg" alt="Chocolate Croissant">
    <p>
      <a href="/item/choco-croissant">Details</a>
    </p>
  </li>
  <li class="menu-item">
    <h4>Strawberry Pudding</h4>
    <img src="/assets/images/strawberry-pudding.jpg" alt="Strawberry Pudding">
    <p>
      <a href="/item/strawberry-pudding">Details</a>
    </p>
  </li>
  <li class="menu-item">
    <h4>Chicken Salad</h4>
    <img src="/assets/images/chicken-salad.jpg" alt="Chicken Salad">
    <p>
      <a href="/item/chicken-salad">Details</a>
    </p>
  </li>
</ul>

{{outlet}}
