Who's hungry?

<ul class="items-container">
  <li class="menu-item">
    <h4>Choco Croissant</h4>
    <img src="/assets/images/choco-croissant.jpg" alt="Chocolate Croissant">
  </li>
  <li class="menu-item">
    <h4>Strawberry Pudding</h4>
    <img src="/assets/images/strawberry-pudding.jpg" alt="Strawberry Pudding">
  </li>
  <li class="menu-item">
    <h4>Chicken Salad</h4>
    <img src="/assets/images/chicken-salad.jpg" alt="Chicken Salad">
  </li>
</ul>

{{outlet}}
